<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Home</title>
<link rel="stylesheet" href="../../css/bootstrap.min.css" >
</head>
<body>
<div class="container">

	<div class="row">
		<h2>Add New Rating</h2>
	</div>

	<div class="row">
		<form action="#" th:action="@{/rating/validate}" th:object="${rating}" method="post" class="form-horizontal" style="width: 100%">
			<!--
			TODO: Create a form to input the values of Rating, there are 2 buttons: Save data and Cancel to the list Rating
			 -->
			 <div class="form-group col-4 ml-1">
				<label for="moodysRating">[[#{rating.label.moodys-rating}]]</label>
				<input type="text" class="form-control form-control-sm" 
					th:placeholder="#{rating.label.moodys-rating}" th:field="*{moodysRating}"
					th:classappend="${#fields.hasErrors('moodysRating')? 'is-invalid': ''}"/>
				<div class="invalid-feedback">
					<p th:each="error:${#fields.errors('moodysRating')}" th:text="${error}"></p>
				</div>
			</div>
			<div class="form-group col-4 ml-1">
				<label for="sandpRating">[[#{rating.label.sand-rating}]]</label>
				<input type="text" class="form-control form-control-sm" 
					th:placeholder="#{rating.label.sand-rating}" th:field="*{sandpRating}"
					th:classappend="${#fields.hasErrors('sandpRating')? 'is-invalid': ''}"/>
				<div class="invalid-feedback">
					<p th:each="error:${#fields.errors('sandpRating')}" th:text="${error}"></p>
				</div>
			</div>
			<div class="form-group col-4 ml-1">
				<label for="fitchRating">[[#{rating.label.fitch-rating}]]</label>
				<input type="text" class="form-control form-control-sm" 
					th:placeholder="#{rating.label.fitch-rating}" th:field="*{fitchRating}"
					th:classappend="${#fields.hasErrors('fitchRating')? 'is-invalid': ''}"/>
				<div class="invalid-feedback">
					<p th:each="error:${#fields.errors('fitchRating')}" th:text="${error}"></p>
				</div>
			</div>
			<div class="form-group col-4 ml-1">
				<label for="orderNumber">[[#{rating.label.order-number}]]</label>
				<input type="number" min="0" step="1" class="form-control form-control-sm" 
					th:placeholder="#{rating.label.order-number}" th:field="*{orderNumber}"
					th:classappend="${#fields.hasErrors('orderNumber')? 'is-invalid': ''}"/>
				<div class="invalid-feedback">
					<p th:each="error:${#fields.errors('orderNumber')}" th:text="${error}"></p>
				</div>
			</div>
			<div class="col-4 ml-1">
				<a href="/rating/list" class="btn-danger btn" >Cancel</a>
				<button type="submit" id="submit" class="btn-primary btn">Add rating</button>
			</div>

		</form>
	</div>

</div>
</body>
</html>