<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Home</title>
<link rel="stylesheet" href="../../css/bootstrap.min.css" >
<link rel="stylesheet" href="../../css/style.css" >
</head>
<body>
<div class="container">

	<div class="row">
		<h2>Add New Bid</h2>
	</div>

	<div class="row">
		<form action="#" th:action="@{/bidList/validate}" th:object="${bidList}" method="post" class="form-horizontal" style="width: 100%">
			<!--
			TODO: Create a form to input the values of Bid, there are 2 buttons: Save data and Cancel to the list Bid
			 -->
			<div class="form-group col-4 ml-1">
				<label for="account">[[#{bidlist.label.account}]]</label>
				<input type="text" class="form-control form-control-sm" 
					th:placeholder="#{bidlist.label.account}" th:field="*{account}"
					th:classappend="${#fields.hasErrors('account')? 'is-invalid': ''}"/>
				<div class="invalid-feedback">
					<p th:each="error:${#fields.errors('account')}" th:text="${error}"></p>
				</div>
			</div>
			<div class="form-group col-4 ml-1">
				<label for="type">[[#{bidlist.label.type}]]</label>
				<input type="text" class="form-control form-control-sm" 
					th:placeholder="#{bidlist.label.type}" th:field="*{type}"
					th:classappend="${#fields.hasErrors('type')? 'is-invalid': ''}"/>
				<div class="invalid-feedback">
					<p th:each="error:${#fields.errors('type')}" th:text="${error}"></p>
				</div>
			</div>
			<div class="form-group col-4 ml-1">
				<label for="bidQuantity">[[#{bidlist.label.quantity}]]</label>
				<input type="number" min="0" step="0.1" class="form-control form-control-sm" 
					th:placeholder="#{bidlist.label.quantity}" th:field="*{bidQuantity}"
					th:classappend="${#fields.hasErrors('bidQuantity')? 'is-invalid': ''}"/>
				<div class="invalid-feedback">
					<p th:each="error:${#fields.errors('bidQuantity')}" th:text="${error}"></p>
				</div>
			</div>
			<div class="col-4 ml-1">
				<a href="/bidList/list" class="btn-danger btn" >Cancel</a>
				<button type="submit" id="submit" class="btn-primary btn">Add BidList</button>
			</div>
		</form>
	</div>

</div>
</body>
</html>